<div class="container">
  <div class="inner-container">
    @if (!imageUrl) {
      <p>Please upload your image</p>
    }

    @if (imageUrl) {
      <div class="image-container">
        <img [src]="imageUrl" alt="Uploaded" class="image" />
      </div>
    }

    @if (prediction$ | async; as predictions) {
      @if (predictions.length > 0) {
        <div class="prediction-box">
          <p class="category-text">{{ predictions[0].category | uppercase }}</p>
          <p class="category-accuracy">{{ predictions[0].score | percent: '1.-1' }} Accuracy</p>
        </div>
      }
    }

    @if (error$ | async; as error) {
      <p class="error">{{ error }}</p>
    }

    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <button (click)="uploadImage()" [disabled]="!selectedFile">{{ (imageUrl ? 'Identify Image' : 'Upload Image') }}</button>

    @if (loading$ | async) {
      <p>Uploading and processing image</p>
    }


  </div>
</div>
