.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.image {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

.prediction-box {
  margin-top: 20px;
  text-align: center;
}

.category-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.category-accuracy {
  font-size: 18px;
  color: #666;
}

.error {
  color: #ff0000;
  margin-top: 10px;
}

input[type="file"] {
  margin: 50px;
}


button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}
