<div class="container">
  <div class="inner-container">
    @if (!imageUrl) {
      <p>Please upload your image</p>
    }

    @if (imageUrl) {
      <app-image [imageUrl]="imageUrl" />
    }

    @if (prediction$ | async; as predictions) {
      @if (predictions.length > 0) {
        <app-prediction [prediction]="predictions[0]" />
      }
    }

    @if (error$ | async; as error) {
      <p class="error">{{ error }}</p>
    }

    <input type="file" (change)="onFileSelected($event)" accept="image/*">
    <button (click)="uploadImage()" [disabled]="!selectedFile">{{ (imageUrl ? 'Identify Image' : 'Upload Image') }}</button>

    @if (loading$ | async) {
      <p>Uploading and processing image</p>
    }


  </div>
</div>
